<ion-tabs class="tabs-icon-top tabs-positive">
    <ion-tab title="首页" icon="ion-ios-home-outline" ui-sref="tabs.homes">
        <ion-nav-view name="homes-tab"></ion-nav-view>
    </ion-tab>

    <ion-tab title="充值" icon="ion-app-pay" ui-sref="tabs.recharge">
        <ion-nav-view name="recharge-tab"></ion-nav-view>
    </ion-tab>

    <ion-tab title="查询" icon="ion-ios-search" ui-sref="tabs.search">
        <ion-nav-view name="search-tab"></ion-nav-view>
    </ion-tab>

    <ion-tab title="更多" icon="ion-android-more-horizontal"  ui-sref="tabs.more">
        <ion-nav-view name="more-tab"> </ion-nav-view>
    </ion-tab>
</ion-tabs>
