html,body {
	margin: 0px;
	padding: 0px;
	border: 0px;
	overflow-x: hidden;
    overflow-y: hidden;
    font-family: "微软雅黑";
}

/**
 *	Form表单样式一：.form-default
 */
.form-color input,
.form-color label,
.form-color select,
.form-color textarea{color:#333333;}
.form-default input{font-size: 14px;font-weight: normal;display:inline;}
.form-default span{color:red;}
.form-default select{display:inline;width:300px;}
.form-default textarea{display:inline;width:400px;}
.form-default .form-checkbox{width:80px;}
.form-default .form-radio{width:80px;}
.form-default .form-text,
.form-default .form-password,
.form-default .form-email{width:300px;}
.form-default table { border-collapse: collapse;}
.form-default th{float: right}
.form-default th,.form-default td{ padding: 0px 0px 15px 15px;}
.form-actions{height: 60px;padding: 10px;margin-top: 20px;background-color: #F5F5F5;border-top: 1px solid #E5E5E5;}
.table-default{width: 100%;margin: 0 auto;}
.table-default label{width: 80px;padding-right: 10px;font-size: 12px;font-family: "微软雅黑";vertical-align: top;}
.btn{
    font-size: 12px;
}