<ion-view view-title="充值">
    <ion-nav-buttons side="left">
        <a href="javascript:void(0)" onclick="javascript:history.go(-2);" class="button button-icon icon ion-ios-arrow-back" nav-direction="back" >
        </a>
    </ion-nav-buttons>

    <ion-content>
        <div class="item item-input">
            <span>充值账户：</span>
            <input type="text">
        </div>
        <div class="item item-input">
            <span>充值金额：</span>
            <input type="text">
        </div>
        <div class="item item-input">
            <span>充值方式：</span>
            <input type="text">
        </div>
        <button class="button button-block button-positive">充 值</button>
    </ion-content>
</ion-view>