<ion-view view-title="小猫停车">
    <ion-content>
        <div><a href="views/haha/haha.html">这是首页</a></div>
        <ion-list>
            <ion-item class="car-bindCarNu" ui-sref="bindCar"></ion-item>
            <ion-item class="car-parkInfo" ui-sref="parkInfo"></ion-item>
            <ion-item class="count-mouthContinue" ui-sref="parkInfo"></ion-item>
            <ion-item class="ionic-merchan" ui-sref="parkInfo"></ion-item>

        </ion-list>
    </ion-content>
    <ion-footer-bar class="bar-dark">
        <h1 class="title">Update这是底部</h1>
    </ion-footer-bar>
</ion-view>
