*{
    margin: 0px;
padding: 0px;
list-style: none;
text-decoration:none;
}
#view{
    height: 800px;
    width:1200px;
    margin: 0px auto;
    border: 1px solid gray;
}
.park_pro1,.park_pro2{
    margin-left: 20px;
    height: 40px;
    line-height:40px;
    width: 1180px;
}
.park_pro1{
    background-color: #ffffff;
}
.park_pro2{
    background-color: #f8f8f8;
}